* {
   text-align: center;
   background-color: #f1fcff93;
}

#search {
   border: 2px solid #f57e7e;
   border-radius: 30px;
   width: 600px;
   padding: 10px 10px;
   font-size: 20px;
   margin-right: 50px;
}

#initButton {
   margin-top: 40px;
   border: 1px solid transparent;
   text-align: center;
   font-size: 25px;
   border-radius: 30px;
   padding: 30px;
   color: #0050fc;
   background-color: #fff9b1e8;
}

#initButton:hover {
   background: linear-gradient(45deg, pink 0%, yellow 15%, blue 30%, pink 40%, red 50%, pink 60%, blue 70%, yellow 85%, green 100%);
   color: #ffffff;
}

body {
   margin: 0;
}
.container {
   margin: auto;
   margin-top: 30px;
   width: 80vw;
   height: 90vh;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: flex-end;
}

.container img {
   width: 300px;
   height: 300px ;
   padding: 20px;
   box-sizing: border-box;
   cursor: pointer;
}

.container img:hover {
   border: 3px solid #ecd5d5;
   transform: scale(1.1); /* To change size*/
}

.overlay { /* When we click on the image we need fixed the display,
   change the backgraound color and zoom the image */
   position: fixed;
   top: 0px;
   left: 0px;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(170, 170, 170, 0.8);
}
.overlay img {
   width: 70vw;
   height: 80vh;
}

.overlay button {
   border: 2px solid #f57e7e;
   background-color: #ffffff;
   border-radius: 30px;
   padding: 10px;
   font-size: 30px;
   color: #249be0;
   position: absolute;
   top: 15px;
}

.d-none { /* Before clicking the image we need to show all the images and a default backgraound
   color thats why we create this attribute 
   Basically its fuction works before clicking the image */
   display: none;
}